.Coach-title{
    color: blue
}
.button-wrapper{
    display: flex;
    gap: 2em;
    flex-direction: row;
    justify-content: center;
}
.button-wrapper > button{
    padding: .5em;
    font-weight: bold;
    background-color: lightblue;
}
.team-display{
    text-align: center;
    margin: 1em 0 1em 0;
}
.game-data-container{
    position: relative;
    padding: 1em;
    margin: 1em;
    box-shadow: 0 2px 5px ;
}
.game-image{
    position: absolute;
    top: 1em;
    right: 1em;
    width: 40%;
    height: 80%;
}
.new-game-input{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 1em;
    margin: 2em;
}
