.Home-container{
    text-align: center;
    border-left:3px solid black;
    border-right:3px solid black;
    border-bottom:3px solid black;
    height: 570px;
    background-color: rgba(73, 80, 87, 1);
        background: url(https://d2jqoimos5um40.cloudfront.net/site_0051/94e41.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow:inset 0 0 0 2000px rgba(73, 80, 87,);
}
.Home-title{
    color: white;
    width: fit-content;
    border-radius: 9px;
    margin: auto;
    padding-top: 4em;
}
.Home-subtitle{
    width: fit-content;
    margin: auto;
    color: white;
    padding-bottom: 1em;
    border-bottom: 2px solid white;
}
.Home-button{
    padding: .3em;
    font-size: 20px;
    border-radius: 15px;
    font-family: 'Bebas Neue', cursive;
    color: red;
}
.Home-button:hover{
    background-color: rgb(212, 110, 110);
    transform: scale(1.05);
    color: white;
}
.Home-next-game{
    margin-bottom: 10px;
    color: white
}

/* Intro/Description CSS below */

.intro-container{
    text-align: center;
    font-size: 20px;
    box-shadow: 0 2px 5px 5px lightgray;
    margin: .5em;
    padding: .5em;
}
.intro-title{
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 0;
    text-align: center;
}
.intro-description{
    margin-top: 5px;
    text-align: center;
}
.intro-picture{
    width: 90%
}
.intro-section{
    margin-top: 1em;
    margin-bottom: .5em;
    line-height: 1.5;
}
.intro-section > a{
    width: fit-content;
}
