.team-image-wrapper{
    text-align: center;
    margin-top: .5em;
    width: 100%
}
.group-picture{
    margin: auto;
    width: 90%;
    border-radius: 20%;
    border: 2px solid black
}
.list-label{
    font-weight: bold;
    
}
.list-of-players{
    columns: 2;
    margin-bottom: 1em;
}